{% extends 'back_home/basee.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}

    <h1>Reponse index</h1>
    <div id="reponse_list">

    <table id="reponse" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reclamation Id</th>
                <th>Iduser</th>
                <th>Description</th>
                <th>Show</th>
                <th>Edit</th>
                
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.idrec.id }}</td> {# Access the id property of the Reclamation entity #}
                <td>{{ reponse.iduser }}</td>
                <td>{{ reponse.description }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    <div id="pagination" class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(reponses, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig')}}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var delayTimer; // Variable to store the timer ID

        function search() {
            // Clear the previous timer
            clearTimeout(delayTimer);
            // Set a new timer to execute the search after a delay (e.g., 300 milliseconds)
            delayTimer = setTimeout(function() {
                var query = document.getElementById('search').value;
                var url = '{{ path('app_reponse_index') }}?q=' + query;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function(response) {
                        $('#reponse_list').html(response.content); // Update search results HTML
                        $('#pagination').html(response.pagination); // Update pagination HTML
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }, 300); // Set the delay time here (300 milliseconds in this example)
        }
        document.getElementById('search').addEventListener('input', search);
    </script>

    <a href="{{ path('app_reponse_new', {'idrec': reclamation.id}) }}">Create new</a>

{% endblock %}
