{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Navbar & Hero Start -->
    {% include "_partials/navbar.html.twig" %}

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

{#    <h1>Register</h1>#}
    <section class="container">
        <div class="row">
            <div class="col">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <fieldset>
                        <legend>Identity</legend>
                        {{ form_row(registrationForm.lastName) }}
                        {{ form_row(registrationForm.firstName) }}
                        {{ form_row(registrationForm.email) }}
                    </fieldset>

                    <fieldset>
                        <legend>Contact details</legend>
                        {{ form_row(registrationForm.region) }}
                        {{ form_row(registrationForm.ville, {
                            label: 'City'
                        }) }}
                        {{ form_row(registrationForm.adresse) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        {{ form_row(registrationForm.captcha) }}
                        {{ form_errors(registrationForm.captcha) }}

                    </fieldset>

                    <button type="submit" class="btn btn-lg btn-primary mt-3">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
