{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_client</th>
                <th>Date_arrivee</th>
                <th>Date_depart</th>
                <th>TypeR</th>
                <th>Prix_total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idR }}</td>
                <td>{{ reservation.IdClient }}</td>
                <td>{{ reservation.DateArrivee ? reservation.DateArrivee|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.DateDepart ? reservation.DateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.TypeR }}</td>
                <td>{{ reservation.prixTotal }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idR': reservation.idR}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idR': reservation.idR}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
