{% extends 'back.html.twig' %}

{% block title %}Reservation {% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <!-- Bouton pour calculer le prix total -->
    <button id="calculate-price-btn">Calculer le prix total</button>
    <div class="sort-bar">
        <a href="{{ path('app_trieasc', {'criteria': 'Date_arrivee', 'order': 'asc'}) }}">Sort by Date_arrivee (Asc)</a>
        <a href="{{ path('app_triedesc', {'criteria': 'Date_arrivee', 'order': 'desc'}) }}">Sort by Date_arrivee (Desc)</a>
    </div>
    <!-- Tableau des réservations -->
    <table class="table">
        <thead>
            <tr>
                <th>Id_client</th>
                <th>Date_arrivee</th>
                <th>Date_depart</th>
                <th>TypeR</th>
                <th>Prix_total</th>
                <th>nbreChambre</th>
                <th>typeChambre</th>
                <th>nbreAdulte</th>
                <th>nbreEnfant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.IdClient }}</td>
                <td>{{ reservation.DateArrivee ? reservation.DateArrivee|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.DateDepart ? reservation.DateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.TypeR }}</td>
                <td>{{ reservation.prixTotal }}</td> <!-- Cette colonne affichera le prix total -->
                <td>{{ reservation.nbreChambre }}</td>
                <td>{{ reservation.typeChambre }}</td>
                <td>{{ reservation.nbreAdulte }}</td>
                <td>{{ reservation.nbreEnfant }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idR': reservation.idR}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idR': reservation.idR}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>

  
{% endblock %}
