{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="about.html" class="nav-item nav-link ">About</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <a href="package.html" class="nav-item nav-link">Packages</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="destination.html" class="dropdown-item">Destination</a>
                            <a href="booking.html" class="dropdown-item">Booking</a>
                            <a href="team.html" class="dropdown-item">Travel Guides</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Annonce</h1>
                    </div>
                    <div class="position-relative w-75 mx-auto animated slideInDown">
                        <form action="#" method="post">
                            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" name="search" placeholder="Recherche">
                            <button type="submit" class="btn btn-secondary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2 mr-2" style="margin-top: 7px; ">Rechercher</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_annonce</th>
                <th>Date_debut</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.getIdAnnonce() }}</td>
                <td>{{ annonce.getDateDebut ? annonce.getDateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ annonce.getTypeA }}</td>
                <td>
                    <div style="position: relative;">
                        <a href="{{ path('app_annonce_show', {'id_annonce': annonce.getIdAnnonce()}) }}" class="btn btn-primary rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 220px;">Show</a>
                        <a href="{{ path('app_annonce_edit', {'id_annonce': annonce.getIdAnnonce()}) }}" class="btn btn-warning rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 160px;">Edit</a>
                        <a href="{{ path('app_annonce_delete', {'id_annonce': annonce.getIdAnnonce()}) }}" class="btn btn-danger rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 81px;">Delete</a>
                    </div>






                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="position: relative;">
        <a href="{{ path('app_annonce_new') }}" class="btn btn-info rounded-3 my-2 mx-1" style="position: absolute; left: 0;">Create New</a>
        <a href="{{ path('app_annonce_tri') }}" class="btn btn-success rounded-3 my-2 mx-1" style="position: absolute;  left: 115px;">Tri</a>
        <a href="{{ path('app_annonce_pdf') }}" class="btn btn-dark rounded-3 my-2 mx-1" style="position: absolute;  left: 162px;">PDF</a>
    </div>

{% endblock %}
