{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
<div class="form-group">
    {{ form_label(form.dateVisit, 'dateVisit') }}
    ..





















    <div class="
    
    
    
    
    
    
    
    
    
    
    
    
    
    "></div>
    {{ form_widget(form.dateVisit, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.dateVisit) }}</div>
    </div>
        <div class="form-group">
            {{ form_label(form.Numero, 'Numero') }}
            {{ form_widget(form.Numero, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.Numero) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.nom, 'Nom') }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(form.nom) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">{{ form_errors(form.email) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.refB, 'refB') }}
                        {{ form_widget(form.refB, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">{{ form_errors(form.refB) }}</div>
                        </div>

    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}