{% extends 'base.html.twig' %}

{% block title %}List of users{% endblock %}

{% block body %}

    {#            {% include "_partials/adminnav.html.twig" %}#}

    <div class="container">
        <div class="row">
            {% include "_partials/adminnav.html.twig" %}



            <main class="col-9 border border-light bg-white p-2">
                <h1>List of users</h1>
                <a href="{{ path('admin_users_new') }}" class=" btn btn-lg btn-primary ">Add User</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>E-mail</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Adresse</th>
                            <th>Region</th>
                            <th>Ville</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.adresse }}</td>
                            <td>{{ user.region }}</td>
                            <td>{{ user.ville }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role == "ROLE_ADMIN"  %}
                                        {% set name = "Admin" %}
                                        {% set color = "danger" %}
                                    {% else %}
                                        {% set name = "Simple User" %}
                                        {% set color = "warning" %}
                                    {% endif %}
                                    <span class="badge bg-{{ color }}">{{ name }}</span>
                                {% endfor %}
                            </td>

                            <td>
                                <a href="#" class=" btn btn-lg btn-success btn-sm ">Modify</a>
                                <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-lg btn-danger btn-sm" onclick="event.preventDefault(); if (confirm('Are you sure you want to delete this user?')) { document.getElementById('delete-form-{{ user.id }}').submit(); }">Delete</a>
                                <form id="delete-form-{{ user.id }}" action="{{ path('admin_users_delete', {'id': user.id}) }}" method="POST" style="display: none;">
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}