<section class="container">
    <div class="row">
        <div class="col">
<form class="form-horizontal" novalidate="novalidate">
    <div class="form-group row">
        <label for="titre_e" class="col-sm-2 col-form-label ">{{ form_label(form.titre_e) }}</label>
        <div >
            {{ form_widget(form.titre_e, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.titre_e) }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="description_e" class="col-sm-2 col-form-label ">{{ form_label(form.description_e) }}</label>
        <div >
            {{ form_widget(form.description_e, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.description_e) }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="ville_e" class="col-sm-2 col-form-label ">{{ form_label(form.ville_e) }}</label>
        <div >
            {{ form_widget(form.ville_e, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.ville_e) }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="date_deb" class="col-sm-2 col-form-label">{{ form_label(form.date_deb) }}</label>
        <div >
            {{ form_widget(form.date_deb, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.date_deb) }}</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button class=" btn btn-lg btn-primary mt-3">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</form>
        </div>
    </div>
</section>
