{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_evenement</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.getIdEvenement() }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.type }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id_evenement': evenement.getIdEvenement()}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id_evenement': evenement.getIdEvenement()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
