{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Tourist</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="about.html" class="nav-item nav-link ">About</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <a href="package.html" class="nav-item nav-link">Packages</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="destination.html" class="dropdown-item">Destination</a>
                            <a href="booking.html" class="dropdown-item">Booking</a>
                            <a href="team.html" class="dropdown-item">Travel Guides</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-primary py-5 mb-5 hero-header" style="background-image: url('{{ asset('/img/bg-hero.jpg') }}');">
                <div class="container py-5">
        <div class="row justify-content-center py-5 ">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Evenement</h1>
            </div>

            <form action="#" method="post">
                <div class="position-relative w-75 mx-auto animated slideInDown">
                    <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" name="search" placeholder="Recherche">
                    <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px; ">Rechercher</button>
                </div></form>


        </div>
    </div>
    </div>

    </div>
    <h1>Les evenements</h1>

    <table class="table m-5">
        <thead>
        <tr>
            <th>Titre
                <a href="{{ path('app_evenement_index', {'sortBy': 'titre_e'}) }}">
                    <span class="bi bi-sort-alpha-down"></span> <!-- Icon for ascending order -->
                </a>
                <a href="{{ path('app_evenement_index', {'sortBy': 'titre_e', 'sortDirection': 'desc'}) }}">
                    <span class="bi bi-sort-alpha-up"></span> <!-- Icon for descending order -->
                </a>
            </th>
            <th>Description
                <a href="{{ path('app_evenement_index', {'sortBy': 'description_e'}) }}">
                    <span class="bi bi-sort-alpha-down"></span> <!-- Icon for ascending order -->
                </a>
                <a href="{{ path('app_evenement_index', {'sortBy': 'description_e', 'sortDirection': 'desc'}) }}">
                    <span class="bi bi-sort-alpha-up"></span> <!-- Icon for descending order -->
                </a>
            </th>
            <th>Ville
                <a href="{{ path('app_evenement_index', {'sortBy': 'ville_e'}) }}">
                    <span class="bi bi-sort-alpha-down"></span> <!-- Icon for ascending order -->
                </a>
                <a href="{{ path('app_evenement_index', {'sortBy': 'ville_e', 'sortDirection': 'desc'}) }}">
                    <span class="bi bi-sort-alpha-up"></span> <!-- Icon for descending order -->
                </a>
            </th>
            <th>Date
                <a href="{{ path('app_evenement_index', {'sortBy': 'date_deb'}) }}">
                    <span class="bi bi-sort-numeric-down"></span> <!-- Icon for ascending order -->
                </a>
                <a href="{{ path('app_evenement_index', {'sortBy': 'date_deb', 'sortDirection': 'desc'}) }}">
                    <span class="bi bi-sort-numeric-up"></span> <!-- Icon for descending order -->
                </a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            {% if evenement.getDateDeb >= "now"|date("D") %}
                <tr>

                    <td>{{ evenement.getTitreE() }}</td>
                    <td>{{ evenement.getDescriptionE() }}</td>
                    <td>{{ evenement.getVilleE() }}</td>


                    <td>{{ evenement.getDateDeb ? evenement.getDateDeb|date('Y-m-d') : '' }}</td>
                    <td>
                        <div style="position: relative;">
                            <a href="{{ path('app_evenement_show', {'id_evenement': evenement.getIdEvenement()}) }}" class="btn btn-primary rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 220px;" >Show</a>
                            <a href="{{ path('app_evenement_edit', {'id_evenement': evenement.getIdEvenement()}) }}" class="btn btn-warning rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 160px;" >Edit</a>
                            <a href="{{ path('app_evenement_delete', {'id_evenement': evenement.getIdEvenement()}) }}" class="btn btn-danger rounded-3 my-2 mx-1" style="position: absolute; top: 0; right: 81px;">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="position: relative;">
        <a href="{{ path('app_evenement_new') }}" class="btn btn-info rounded-3 my-2 mx-1" style="position: absolute; left: 0;">Create New</a>
        <a href="{{ path('app_evenement_pdf') }}" class="btn btn-success rounded-3 my-2 mx-1" style="position: absolute;  left: 115px;">PDF</a>
        <a href="{{ path('app_annonce_statistiques') }}" class="btn btn-secondary rounded-3 my-2 mx-1" style="position: absolute;  left: 177px;">Show statistiques</a>
        <a href="{{ path('app_feedback') }}" class="btn btn-dark rounded-3 my-2 mx-1" style="position: absolute;  left: 332px;">Feedback</a>
    </div>
{% endblock %}
