{% extends 'back.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Programme</th>
                <td>{{ voyage.Programme }}</td>
            </tr>
            <tr>
                <th>DateDepart</th>
                <td>{{ voyage.DateDepart ? voyage.DateDepart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateArrive</th>
                <td>{{ voyage.DateArrive ? voyage.DateArrive|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voyage.Prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
