{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_voiture</th>
                <th>Marque</th>
                <th>Annee</th>
                <th>Prix_j</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.idVoiture }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.annee ? voiture.annee|date('Y-m-d') : '' }}</td>
                <td>{{ voiture.prixJ }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id_voiture': voiture.getIdVoiture()}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'id_voiture': voiture.getIdVoiture()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Create new</a>
{% endblock %}
