{% extends 'back.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_voiture</th>
                <th>Marque</th>
                <th>date start</th>
                <th>Prix_j</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.idVoiture }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.annee ? voiture.annee|date('Y-m-d') : '' }}</td>
                <td>{{ voiture.prixJ }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id_voiture': voiture.getIdVoiture()}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'id_voiture': voiture.getIdVoiture()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Create new</a>


    <br>
    <br>
    <br>
        <h1>Statistiques des prix par marque de voiture</h1>
        <canvas id="myChart" width="400" height="400"></canvas>

        {% block javascripts %}
            <script>
                var labels = [];
                var prices = [];

                {% for voiture in voitures %}
                labels.push('{{ voiture.marque }}');
                prices.push('{{ voiture.prixJ }}');
                {% endfor %}
            </script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Prix (en €)',
                            data: prices,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        {% endblock %}



{% endblock %}
